.logo {
    width: 100px;
    margin: 5px 0 5px 20px;
}

.bg-blue {
    background-color:lightblue;
}

.bg-purple {
    background-color: #614FCC;
}

.navbar {
    font-size: 32px;
    font-weight: lighter;
    padding: 0;
}

.dropdown {
    margin: 0 10px 0 10px;
}

.nav-link {
    color:white;
    height: 100%;
}

.nav-link:hover, .nav-link:focus {
    color:black;
}

.nav-item:hover {
    background-color: #ddd7ec;
}

.dropdown-menu {
    background-color: #ddd7ec;
    font-size: 20px;
    padding: 5px;
    border-radius: 0.5rem;
    margin-top:0.5rem !important;
}

.dropdown-item {
    padding: 8px 20px 8px 20px;
    border-radius: 0.5rem;
}

.dropdown-item:hover {
    color: white;
    background-color: #614FCC;
}